    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <p class="welcome">Update your profile</p>
                <br>
                {{#if error}}
                <div class="alert alert-danger col-4 offset-4" role="alert">
                    <h4 class="alert-heading">Error!</h4>
                    <p>{{error}}</p>
                </div>
                {{/if}}

                <form id="signup-form" method="post" action="/update_profile" onsubmit="return validateUpdateProfileInputs(event);>
                  
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" name="id" value="{{user._id}}" />
                        <p class="noPost" >Name:</p>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name"
                            value="{{user.name}}" />
                        <br>
                        <p class="noPost" >Email:</p>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email"
                            value="{{user.email}}" />
                        <br>
                        <p class="noPost" >Work Experience:</p>
                        <input type="number" class="form-control" id="work" name="work" placeholder="Your Work Experience"
                            value="{{user.workEx}}" />
                        <br>
                        <p class="noPost" >Aspiring University:</p>
                        <input type="text" class="form-control" id="uni" name="uni" placeholder="Your Aspring University"
                            value="{{user.aspiringUniversity}}" />
                        <br>
                       
                        <div class="form-group">
                            <input type="submit" class="btn AllButton btn-outline-success" value="Update" />
                        </div>

                    </div>
                </form>
                <a id="profile" href="/profile">Back to Profile</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />