<div class="user_profile_background">
  
{{#if msg}}
<div class="alert alert-success col-4 offset-4" role="alert">
    <h4 class="alert-heading">Message!</h4>
    <p>{{msg}}</p>
</div>
{{else}}
<div class="card mb-4 bg-dark col-4 offset-4">
    <ul class="list-group bg-dark list-group-flush">
       
        <li class="list-group-item bg-dark" style="color: white;">Name: {{user.name}}</li>
        <li class="list-group-item bg-dark" style="color: white;">Work Experience: {{user.workEx}} Years</li>
        <li class="list-group-item bg-dark" style="color: white;">Email: {{user.email}}</li>
        <li class="list-group-item bg-dark" style="color: white;">Aspiring University: {{user.aspiringUniversity}}</li>
        <li class="list-group-item bg-dark" style="color: white;">Favorite Universities:
            {{#if uniArr}}
            <ol>
                {{#each uniArr}}
                <li>
                    {{this}}
                </li>
                {{/each}}
            </ol>
            {{else}}
            <p>No favorite Universities yet</p>
            {{/if}}          
        </li>

    </ul>
    <div class="card-footer">
        <div class="d-grid gap-2">
            <button class="btn btn-outline-primary" onclick="window.location.href='/update_profile'"
                type="button">Update Profile</button>
        </div>
        <br>
        <div class="d-grid gap-2">
            <button class="btn btn-outline-primary" onclick="window.location.href='/update_password'"
                type="button">Change Password</button>
        </div>
        <br>
       
         <a id="No-account" href="/logout">logout</a>
    </div>
{{/if}}
</div>

